<form action="/articles/<%= @article.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <label for="title"> Article Title</label>
    <input type="text" id="title" name="title" value= "<%=@article.title%>"/>
    <label for="content"> Article Content</label>
    <input type="text" id="content" name="content"value= "<%=@article.content%>"/>

    <input type="submit">
</form>
